<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GO MINER</title>
    <meta
      name="description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="keywords" content="go miner, cloud server, tambang crypto" />
    <link rel="canonical" href="https://demo.masmutdev.com" />
    <meta property="og:title" content="Go Miner" />
    <meta
      property="og:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta property="og:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta property="og:url" content="https://demo.masmutdev.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Go Miner" />
    <meta
      name="twitter:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="twitter:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta name="twitter:site" content="@GoMiner" />
    <link rel="icon" href="https://demo.masmutdev.com/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://demo.masmutdev.com/go-miner-logo.webp" type="image/webp" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.19.0/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js"></script>
  </head>

  <body class="bg-gray-200 antialiased bg-gray-800">
    <div class="main-content flex flex-col justify-center items-center w-full max-w-full px-4 mb-24">
      <!-- Navbar -->
      <nav class="bg-gray-900 green-shadow shadow-md mt-4 p-4 flex justify-between items-center rounded-lg w-full max-w-[400px]">
        <!-- Logo -->
        <div class="flex items-center space-x-2 text-center">
          <img src="go-miner-logo.webp" alt="Logo" class="h-8 w-8" />
        </div>

        <p class="text-xl font-semibold text-green-400">GO MINER</p>

        <!-- Menu Icon -->
        <button
          data-drawer-target="default-sidebar"
          data-drawer-toggle="default-sidebar"
          aria-controls="default-sidebar"
          type="button"
          class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-white rounded-lg sm:hidden hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
      </nav>

      <!-- Aside -->
      <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:hidden sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-900">
          <a href="./" class="flex items-center ps-2.5 mb-5">
            <img src="go-miner-logo.webp" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-green-400">Go Miner</span>
          </a>
          <ul class="space-y-2 font-medium">
            <li>
              <a href="index.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-home"></i>
                <span class="ms-3">Home</span>
              </a>
            </li>
            <li>
              <a href="produk.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-server"></i>
                <span class="ms-3">Produk</span>
              </a>
            </li>
            <li>
              <a href="team.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-users-group"></i>
                <span class="ms-3">Team</span>
              </a>
            </li>
            <li>
              <a href="milikku.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-user"></i>
                <span class="ms-3">Milikku</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <!-- Carousel -->
      <div id="default-carousel" class="relative max-w-[400px] w-full mt-4" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.com/docs/images/carousel/carousel-1.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." />
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.com/docs/images/carousel/carousel-2.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." />
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.com/docs/images/carousel/carousel-3.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." />
          </div>
          <!-- Item 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.com/docs/images/carousel/carousel-4.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." />
          </div>
          <!-- Item 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.com/docs/images/carousel/carousel-5.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." />
          </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
          <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>

      <!-- Marquee -->
      <span class="w-full max-w-[400px] my-4 flex flex-row justify-center green-shadow bg-gray-900 text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
        <i class="ti ti-speakerphone text-[24px] mr-2"></i>
        <marquee>Ini Adalah Teks Berjalan</marquee>
      </span>

      <!-- Menu -->
      <div class="grid grid-cols-4 gap-4 w-full max-w-[400px] mb-4">
        <a href="undangan.html" class="flex flex-col items-center">
          <div class="bg-gray-900 green-shadow text-white rounded-full w-20 h-20 flex justify-center items-center">
            <i class="ti ti-gift text-3xl"></i>
          </div>
          <p class="mt-2 text-center text-white" style="font-size: 10px !important">Mengundang</p>
        </a>

        <a href="kontrak-kerja.html" class="flex flex-col items-center">
          <div class="bg-gray-900 green-shadow text-white rounded-full w-20 h-20 flex justify-center items-center">
            <i class="ti ti-certificate text-3xl"></i>
          </div>
          <p class="mt-2 text-center text-white" style="font-size: 10px !important">Kontrak Kerja</p>
        </a>

        <a href="faq.html" class="flex flex-col items-center">
          <div class="bg-gray-900 green-shadow text-white rounded-full w-20 h-20 flex justify-center items-center">
            <i class="ti ti-message-circle-question text-3xl"></i>
          </div>
          <p class="mt-2 text-center text-white" style="font-size: 10px !important">Pertanyaan Harian</p>
        </a>

        <a href="peti.html" class="flex flex-col items-center">
          <div class="bg-gray-900 green-shadow text-white rounded-full w-20 h-20 flex justify-center items-center">
            <i class="ti ti-box text-3xl"></i>
          </div>
          <p class="mt-2 text-center text-white" style="font-size: 10px !important">Peti</p>
        </a>
      </div>

      <!-- Card Grid -->
      <div class="w-full max-w-[400px] mb-4">
        <div class="flex flex-row justify-between items-center">
          <h5 class="text-white text-lg">Rekomendasi</h5>
          <a class="text-green-400 text-sm" href="produk.html">Lihat Lainnya <i class="ti ti-chevron-right"></i></a>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 w-full max-w-[400px] mb-4">
        <!-- Card Kiri -->
        <div class="bg-gray-900 text-white shadow-md rounded-lg p-6 relative green-shadow">
          <h2 class="text-lg font-semibold mb-2">NVIDIA NVL72</h2>
          <p class="text-sm text-gray-400">Total Pendapatan</p>
          <p class="text-sm font-bold text-green-400 mb-4">RP 230,175,000</p>
          <button class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">Go</button>
          <!-- Gambar Float Bawah Kanan -->
          <img src="assets/img/item-bg1.png" alt="Chart Image" class="absolute bottom-2 right-2 h-28 w-auto" />
        </div>

        <!-- Card Kanan (2 Card Vertikal) -->
        <div class="flex flex-col gap-4">
          <!-- Card Kanan Atas -->
          <div class="bg-gray-900 text-white shadow-md rounded-lg p-6 relative green-shadow">
            <h3 class="text-md font-semibold">GPX–R5506</h3>
            <p class="text-sm text-gray-400">Rasio Keuntungan</p>
            <p class="text-xl font-bold text-green-400">800%</p>
          </div>

          <!-- Card Kanan Bawah -->
          <div class="bg-gray-900 text-white shadow-md rounded-lg p-6 relative green-shadow">
            <h3 class="text-md font-semibold">RTX A2000</h3>
            <p class="text-sm text-gray-400">Jumlah Pembelian</p>
            <p class="text-xl font-bold text-green-400">173096+</p>
          </div>
        </div>
      </div>

      <!-- Grafik -->
      <div class="w-full max-w-[400px] p-4 border rounded-lg shadow sm:p-3 bg-gray-900 border-gray-700 green-shadow" style="margin-bottom: 100px">
        <div class="flex items-center justify-between mb-4">
          <h5 class="text-xl font-bold leading-none text-white">Top 24hr IDR Volume</h5>
        </div>
        <div class="flow-root">
          <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-white">
              <thead class="text-xs text-white uppercase bg-green-400">
                <tr>
                  <th scope="col" class="px-6 py-3">Market</th>
                  <th scope="col" class="px-6 py-3">Harga Terakhir</th>
                  <th scope="col" class="px-6 py-3">Volume (IDR)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b bg-gray-800 border-gray-400">
                  <td class="px-6 py-4">USDT/IDR</td>
                  <td class="px-6 py-4 text-green-400">419.003.000</td>
                  <td class="px-6 py-4">25.356.550.000</td>
                </tr>
                <tr class="border-b bg-gray-800 border-gray-400">
                  <td class="px-6 py-4">USDT/IDR</td>
                  <td class="px-6 py-4 text-green-400">419.003.000</td>
                  <td class="px-6 py-4">25.356.550.000</td>
                </tr>
                <tr class="border-b bg-gray-800">
                  <td class="px-6 py-4">USDT/IDR</td>
                  <td class="px-6 py-4 text-green-400">419.003.000</td>
                  <td class="px-6 py-4">25.356.550.000</td>
                </tr>
                <tr class="border-b bg-gray-800">
                  <td class="px-6 py-4">USDT/IDR</td>
                  <td class="px-6 py-4 text-green-400">419.003.000</td>
                  <td class="px-6 py-4">25.356.550.000</td>
                </tr>
                <tr class="border-b bg-gray-800">
                  <td class="px-6 py-4">USDT/IDR</td>
                  <td class="px-6 py-4 text-green-400">419.003.000</td>
                  <td class="px-6 py-4">25.356.550.000</td>
                </tr>
                <tr class="border-b bg-gray-800">
                  <td class="px-6 py-4">USDT/IDR</td>
                  <td class="px-6 py-4 text-green-400">419.003.000</td>
                  <td class="px-6 py-4">25.356.550.000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Sticky Footer Menu -->
    <div class="fixed bottom-0 left-0 right-0 bg-gray-900 shadow-md p-4 flex justify-between items-center w-full max-w-[400px] mx-auto">
      <a href="index.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-home text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Home</span>
      </a>
      <a href="produk.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-server text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Produk</span>
      </a>
      <a href="team.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-users-group text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Team</span>
      </a>
      <a href="milikku.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-user text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Milikku</span>
      </a>
    </div>

    <!-- Pengumuman -->
    <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-gray-900 rounded-lg shadow dark:bg-gray-700">
          <button
            type="button"
            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="popup-modal"
          >
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-400">PENGUMUMAN</h3>
            <p class="mb-4 text-white">Isi Pengumuman</p>
            <button
              data-modal-hide="popup-modal"
              type="button"
              class="text-white bg-green-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
            >
              Oke
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Full Image -->
    <div id="image-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full">
      <div class="relative p-4 w-full max-w-3xl max-h-full">
        <div class="relative bg-gray-900 rounded-lg shadow dark:bg-gray-700 overflow-hidden">
          <button
            type="button"
            class="absolute top-3 end-2.5 text-white bg-red-500 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="image-modal"
          >
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <!-- Full Image Content -->
          <div class="w-full h-full">
            <img src="assets/img/demo-pengumuman.webp" alt="Full Image" class="w-full h-auto object-cover" />
          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>
