<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GO MINER</title>
    <meta
      name="description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="keywords" content="go miner, cloud server, tambang crypto" />
    <link rel="canonical" href="https://demo.masmutdev.com" />
    <meta property="og:title" content="Go Miner" />
    <meta
      property="og:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta property="og:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta property="og:url" content="https://demo.masmutdev.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Go Miner" />
    <meta
      name="twitter:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="twitter:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta name="twitter:site" content="@GoMiner" />
    <link rel="icon" href="https://demo.masmutdev.com/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://demo.masmutdev.com/go-miner-logo.webp" type="image/webp" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.19.0/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js"></script>
  </head>

  <body class="bg-gray-200 antialiased bg-gray-800 flex flex-col justify-center items-center h-screen">
    <div class="main-content flex flex-col justify-center items-center w-full px-3">
      <!-- Card Login-->
      <div class="gradient-border bg-gray-900 text-white shadow-md rounded-lg p-6 green-shadow w-full max-w-[400px]">
        <!-- Logo dan Judul -->
        <div class="text-center mb-5">
          <img src="go-miner-logo.webp" alt="Logo Go Miner" class="mx-auto mb-3 w-20 h-20" />
          <!-- Ubah path ke logo sesuai -->
          <h1 class="text-2xl font-bold mb-2">HALAMAN LOGIN</h1>
          <p class="text-gray-400">Selamat Datang Di Go Miner</p>
        </div>
        <form class="max-w-sm mx-auto">
          <div class="mb-5">
            <label for="hp" class="block mb-2 text-sm font-medium text-white">Nomor HP</label>
            <input
              type="text"
              id="hp"
              class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              placeholder="Masukkan Nomor HP"
              required
            />
          </div>
          <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
            <input
              type="password"
              id="password"
              class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              placeholder="Masukkan Password"
              required
            />
          </div>
          <div class="flex items-start mb-5">
            <div class="flex items-center h-5">
              <input
                id="remember"
                type="checkbox"
                value=""
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-green-300 bg-gray-700 border-gray-600 focus:ring-green-600 ring-offset-gray-800 focus:ring-offset-gray-800"
                required
              />
            </div>
            <label for="remember" class="ms-2 text-sm font-medium text-gray-300">Ingat saya?</label>
          </div>
          <button
            type="submit"
            class="text-white bg-green-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-green-500 focus:ring-blue-800"
          >
            LOGIN
          </button>
          <div class="mt-8 flex justify-center items-center">
            <p>Belum Punya Akun ? <a class="text-blue-500" href="register.html">DAFTAR DISINI</a></p>
          </div>
        </form>
      </div>
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>
