<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GO MINER</title>
    <meta name="description" content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri." />
    <meta name="keywords" content="go miner, cloud server, tambang crypto" />
    <link rel="canonical" href="https://gominer.net" />
    <meta property="og:title" content="Go Miner" />
    <meta property="og:description" content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri." />
    <meta property="og:image" content="https://gominer.net/images/img/go-miner-logo.webp" />
    <meta property="og:url" content="https://gominer.net" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Go Miner" />
    <meta name="twitter:description" content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri." />
    <meta name="twitter:image" content="https://gominer.netimages/img/go-miner-logo.webp" />
    <meta name="twitter:site" content="@GoMiner" />
    <link rel="icon" href="https://gominer.net/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://gominer.net/go-miner-logo.webp" type="image/webp" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.19.0/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js"></script>
  </head>

  <body class="bg-gray-200 antialiased bg-gray-800">
    <div class="main-content flex flex-col justify-center items-center w-full max-w-full px-4 mb-24">
      <!-- Navbar -->
      <nav class="bg-gray-900 green-shadow shadow-md mt-4 p-4 flex justify-between items-center rounded-lg w-full max-w-[400px]">
        <!-- Logo -->
        <div class="flex items-center space-x-2 text-center">
          <img src="go-miner-logo.webp" alt="Logo" class="h-8 w-8" />
        </div>

        <p class="text-xl font-semibold text-green-400">GO MINER</p>

        <!-- Menu Icon -->
        <button
          data-drawer-target="default-sidebar"
          data-drawer-toggle="default-sidebar"
          aria-controls="default-sidebar"
          type="button"
          class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-white rounded-lg sm:hidden hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
      </nav>

      <!-- Aside -->
      <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:hidden sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-900">
          <a href="./" class="flex items-center ps-2.5 mb-5">
            <img src="go-miner-logo.webp" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-green-400">Go Miner</span>
          </a>
          <ul class="space-y-2 font-medium">
            <li>
              <a href="index.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-home"></i>
                <span class="ms-3">Home</span>
              </a>
            </li>
            <li>
              <a href="produk.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-server"></i>
                <span class="ms-3">Produk</span>
              </a>
            </li>
            <li>
              <a href="team.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-users-group"></i>
                <span class="ms-3">Team</span>
              </a>
            </li>
            <li>
              <a href="milikku.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-user"></i>
                <span class="ms-3">Milikku</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <!-- Produk -->
      <div class="w-full max-w-[400px] mt-4" style="margin-bottom: 100px;">
        <div class="flex flex-row justify-center items-center">
          <h5 class="text-white text-lg">Kategori Produk</h5>
        </div>

        <!-- Bagian Tombol Filter -->
        <div class="flex justify-start gap-2 mb-4 mt-4">
            <a href="#" class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">PAKET 1</a>
            <a href="#" class="bg-gray-700 text-white py-2 px-4 rounded">PAKET 2</a>
            <a href="#" class="bg-gray-700 text-white py-2 px-4 rounded">PAKET 3</a>
        </div>

        <div class="bg-gray-900 text-white p-4 rounded-lg shadow-md mb-4 w-full max-w-[400px]">
            <div class="flex justify-between">
            <!-- Gambar dan Deskripsi -->
            <div class="flex flex-col w-full">
                <div class="flex flex-row">
                    <img src="assets/img/demo.jpg" alt="Server Image" class="w-20 h-20 rounded-lg mr-2" />
                    <div class="flex flex-col">
                        <h3 class="text-lg font-bold">HDX–A5801</h3>
                        <div class="flex items-center space-x-2">
                            <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-2 py-2 text-center me-1 mb-2" style="font-size: 9px!important;">Penyelesaian satu kali</button>
                            <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-2 py-2 text-center me-1 mb-2" style="font-size: 9px!important;">Waktu tersisa</button>
                        </div>
                        <span class="text-white font-bold" style="font-size: 10px!important;width: max-content!important;">08:21:21</span>
                    </div>

                </div>
                <!-- Harga dan Tombol Go -->
                <div class="flex flex-row justify-between items-center">
                    <p class="text-yellow-400 text-xl font-bold">RP 600,000</p>
                    <a href="#" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-2">Go</a>
                </div>
            </div>

            </div>
            <div class="mt-4 text-sm text-gray-400 flex justify-between">
                <div class="flex flex-col">
                    <span class="text-white">Rp. 1.440.000</span>
                    <p style="font-size: 10px;">Pendapatan per waktu</p>
                </div>
                <div class="flex flex-col">
                    <span class="text-white">Rp. 1.440.000</span>
                    <p style="font-size: 10px;">Total Pendapatan</p>
                </div>                
                <div class="flex flex-col">
                    <span class="text-white">3 Hari</span>
                    <p style="font-size: 10px;">Masa Berlaku</p>
                </div>
            </div>
        </div>

        <div class="bg-gray-900 text-white p-4 rounded-lg shadow-md mb-4 w-full max-w-[400px]">
            <div class="flex justify-between">
            <!-- Gambar dan Deskripsi -->
            <div class="flex flex-col w-full">
                <div class="flex flex-row">
                    <img src="assets/img/demo.jpg" alt="Server Image" class="w-20 h-20 rounded-lg mr-2" />
                    <div class="flex flex-col">
                        <h3 class="text-lg font-bold">HDX–A5801</h3>
                        <div class="flex items-center space-x-2">
                            <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-2 py-2 text-center me-1 mb-2" style="font-size: 9px!important;">Penyelesaian satu kali</button>
                            <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-2 py-2 text-center me-1 mb-2" style="font-size: 9px!important;">Waktu tersisa</button>
                        </div>
                        <span class="text-white font-bold" style="font-size: 10px!important;width: max-content!important;">08:21:21</span>
                    </div>

                </div>
                <!-- Harga dan Tombol Go -->
                <div class="flex flex-row justify-between items-center">
                    <p class="text-yellow-400 text-xl font-bold">RP 600,000</p>
                    <a href="#" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-2">GO</a>
                </div>
            </div>

            </div>
            <div class="mt-4 text-sm text-gray-400 flex justify-between">
                <div class="flex flex-col">
                    <span class="text-white">Rp. 1.440.000</span>
                    <p style="font-size: 10px;">Pendapatan per waktu</p>
                </div>
                <div class="flex flex-col">
                    <span class="text-white">Rp. 1.440.000</span>
                    <p style="font-size: 10px;">Total Pendapatan</p>
                </div>                
                <div class="flex flex-col">
                    <span class="text-white">3 Hari</span>
                    <p style="font-size: 10px;">Masa Berlaku</p>
                </div>
            </div>
        </div>

      </div>

    </div>

    <!-- Sticky Footer Menu -->
    <div class="fixed bottom-0 left-0 right-0 bg-gray-900 shadow-md p-4 flex justify-between items-center w-full max-w-[400px] mx-auto">
      <a href="index.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-home text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Home</span>
      </a>
      <a href="produk.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-server text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Produk</span>
      </a>
      <a href="team.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-users-group text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Team</span>
      </a>
      <a href="milikku.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-user text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Milikku</span>
      </a>
    </div>

    <script src="main.js"></script>
  </body>
</html>
