<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GO MINER</title>
    <meta
      name="description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="keywords" content="go miner, cloud server, tambang crypto" />
    <link rel="canonical" href="https://demo.masmutdev.com" />
    <meta property="og:title" content="Go Miner" />
    <meta
      property="og:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta property="og:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta property="og:url" content="https://demo.masmutdev.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Go Miner" />
    <meta
      name="twitter:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="twitter:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta name="twitter:site" content="@GoMiner" />
    <link rel="icon" href="https://demo.masmutdev.com/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://demo.masmutdev.com/go-miner-logo.webp" type="image/webp" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.19.0/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js"></script>
  </head>

  <body class="bg-gray-200 antialiased bg-gray-800">
    <div class="main-content flex flex-col justify-center items-center w-full max-w-full px-4 mb-24">
      <!-- Navbar -->
      <nav class="bg-gray-900 green-shadow shadow-md mt-4 p-4 flex justify-between items-center rounded-lg w-full max-w-[400px]">
        <!-- Logo -->
        <div class="flex items-center space-x-2 text-center">
          <img src="go-miner-logo.webp" alt="Logo" class="h-8 w-8" />
        </div>

        <p class="text-xl font-semibold text-green-400">GO MINER</p>

        <!-- Menu Icon -->
        <button
          data-drawer-target="default-sidebar"
          data-drawer-toggle="default-sidebar"
          aria-controls="default-sidebar"
          type="button"
          class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-white rounded-lg sm:hidden hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
      </nav>

      <!-- Aside -->
      <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:hidden sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-900">
          <a href="./" class="flex items-center ps-2.5 mb-5">
            <img src="go-miner-logo.webp" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-green-400">Go Miner</span>
          </a>
          <ul class="space-y-2 font-medium">
            <li>
              <a href="index.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-home"></i>
                <span class="ms-3">Home</span>
              </a>
            </li>
            <li>
              <a href="produk.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-server"></i>
                <span class="ms-3">Produk</span>
              </a>
            </li>
            <li>
              <a href="team.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-users-group"></i>
                <span class="ms-3">Team</span>
              </a>
            </li>
            <li>
              <a href="milikku.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-user"></i>
                <span class="ms-3">Milikku</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <!-- Produk -->
      <div class="w-full max-w-[400px] mt-4" style="margin-bottom: 100px">
        <div class="flex flex-row justify-center items-center">
          <h5 class="text-white text-lg">Team</h5>
        </div>

        <div class="text-white p-4 min-h-screen">
          <!-- Bagian pertama: Manfaat Tim dan Anggota Tim -->
          <div class="bg-gray-900 p-4 rounded-lg mb-4 flex justify-between items-center">
            <div class="text-center">
              <p class="text-lg font-semibold">Rp. 0</p>
              <p class="text-sm text-gray-400">Manfaat Tim</p>
            </div>
            <div class="border-l border-gray-700 h-8 mx-4"></div>
            <div class="text-center">
              <p class="text-lg font-semibold">0 / 1</p>
              <p class="text-sm text-gray-400">Anggota Tim Yang Efektif</p>
            </div>
          </div>

          <!-- Bagian kedua: Jumlah Total Isi Ulang dan Jumlah Isi Ulang Hari Ini -->
          <div class="bg-gray-900 p-4 rounded-lg mb-4 flex justify-between items-center">
            <div class="text-center">
              <p class="text-lg font-semibold">Rp. 0</p>
              <p class="text-sm text-gray-400">Jumlah Total Isi Ulang</p>
            </div>
            <div class="border-l border-gray-700 h-8 mx-4"></div>
            <div class="text-center">
              <p class="text-lg font-semibold">Rp. 0</p>
              <p class="text-sm text-gray-400">Jumlah Isi Ulang Hari Ini</p>
            </div>
          </div>

          <!-- Bagian ketiga: Status Tim -->
          <div class="mb-4">
            <p class="text-sm mb-2">Tim–B (1)</p>
            <div class="flex justify-between">
              <button class="bg-green-500 text-white w-full py-2 mr-2 rounded-lg">Sah</button>
              <button class="border border-gray-400 text-white w-full py-2 rounded-lg">Tidak Sah</button>
            </div>
          </div>
          <div class="flex flex-col items-center justify-center" style="margin-bottom: 100px !important">
            <i class="ti ti-file-x text-3xl"></i>
            <p>Tidak Ada Data</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Sticky Footer Menu -->
    <div class="fixed bottom-0 left-0 right-0 bg-gray-900 shadow-md p-4 flex justify-between items-center w-full max-w-[400px] mx-auto">
      <a href="index.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-home text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Home</span>
      </a>
      <a href="produk.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-server text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Produk</span>
      </a>
      <a href="team.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-users-group text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Team</span>
      </a>
      <a href="milikku.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-user text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Milikku</span>
      </a>
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>
