<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GO MINER</title>
    <meta
      name="description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="keywords" content="go miner, cloud server, tambang crypto" />
    <link rel="canonical" href="https://demo.masmutdev.com" />
    <meta property="og:title" content="Go Miner" />
    <meta
      property="og:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta property="og:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta property="og:url" content="https://demo.masmutdev.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Go Miner" />
    <meta
      name="twitter:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="twitter:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta name="twitter:site" content="@GoMiner" />
    <link rel="icon" href="https://demo.masmutdev.com/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://demo.masmutdev.com/go-miner-logo.webp" type="image/webp" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.19.0/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js"></script>
  </head>

  <body class="bg-gray-200 antialiased bg-gray-800">
    <div class="main-content flex flex-col justify-center items-center w-full max-w-full px-4 mb-24">
      <!-- Navbar -->
      <nav class="bg-gray-900 green-shadow shadow-md mt-4 p-4 flex justify-between items-center rounded-lg w-full max-w-[400px]">
        <!-- Logo -->
        <div class="flex items-center space-x-2 text-center">
          <img src="go-miner-logo.webp" alt="Logo" class="h-8 w-8" />
        </div>

        <p class="text-xl font-semibold text-green-400">GO MINER</p>

        <!-- Menu Icon -->
        <button
          data-drawer-target="default-sidebar"
          data-drawer-toggle="default-sidebar"
          aria-controls="default-sidebar"
          type="button"
          class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-white rounded-lg sm:hidden hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
      </nav>

      <!-- Aside -->
      <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:hidden sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-900">
          <a href="./" class="flex items-center ps-2.5 mb-5">
            <img src="go-miner-logo.webp" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-green-400">Go Miner</span>
          </a>
          <ul class="space-y-2 font-medium">
            <li>
              <a href="index.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-home"></i>
                <span class="ms-3">Home</span>
              </a>
            </li>
            <li>
              <a href="produk.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-server"></i>
                <span class="ms-3">Produk</span>
              </a>
            </li>
            <li>
              <a href="team.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-users-group"></i>
                <span class="ms-3">Team</span>
              </a>
            </li>
            <li>
              <a href="milikku.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="ti ti-user"></i>
                <span class="ms-3">Milikku</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <!-- Produk -->
      <div class="w-full max-w-[400px] mt-4" style="margin-bottom: 100px">
        <div class="flex flex-row justify-center items-center">
          <h5 class="text-white text-lg">Tentang Kami</h5>
        </div>

        <div class="bg-gray-900 green-shadow text-white p-6 rounded-lg shadow-lg max-w-sm mx-auto mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, aliquam dolor perferendis dolores aspernatur eius ea officia iste aliquid cupiditate enim et beatae a ducimus voluptatibus facilis consequuntur quam fugiat
          molestiae! Laboriosam at error necessitatibus, doloremque alias asperiores rerum fuga nulla vero architecto quas dolorum non ad veritatis placeat quidem voluptatem obcaecati. Molestiae consequuntur minus laudantium quasi odio
          veniam vel quo, mollitia vitae distinctio numquam voluptate asperiores nostrum, omnis porro ipsa voluptatibus quibusdam quia cum repellat! Ex ducimus hic odit nam soluta fuga debitis possimus! Nulla quos, veritatis at magnam
          eaque, velit numquam corrupti omnis reiciendis quasi quam quae aut est in amet fuga, ullam dolorum saepe dolorem. Atque in, repudiandae, minus vitae quo maxime deleniti itaque perspiciatis totam commodi expedita, aspernatur
          officiis eos cum tenetur debitis numquam ipsum? Molestiae facere pariatur temporibus sequi possimus voluptates ipsam accusantium, id, harum, numquam alias. Dolor error eius tempore sed, asperiores iste dolorem unde ab beatae sequi
          itaque voluptate animi explicabo laborum autem numquam nisi nam! Soluta illo quasi, non voluptas possimus magni doloremque numquam, labore dolorum, facere quo quod. Cumque, blanditiis ad. Explicabo iusto, praesentium voluptates
          provident repellendus eaque itaque saepe laudantium omnis minima nesciunt, temporibus neque, animi cum deserunt esse sapiente perferendis vitae necessitatibus doloremque exercitationem ipsam! Eligendi id numquam doloribus totam.
          Esse quis ducimus quos at a vel. Architecto dolorum autem optio, ex cupiditate quos! Inventore magni tenetur eveniet fuga iure eligendi ullam quo, totam saepe? Aut saepe possimus magni recusandae, error eos itaque ut tenetur vitae
          fugit architecto sit quos autem alias quae tempora ratione reiciendis reprehenderit. Cum atque nam repellendus quibusdam veniam cupiditate error reiciendis temporibus repellat excepturi praesentium omnis ipsa, enim maiores iure
          minus itaque molestias laudantium nihil ipsam accusamus, minima ratione? Modi explicabo sint at aliquid dolorum qui quasi quos, culpa reprehenderit, accusantium officiis deserunt cumque quo nostrum sunt recusandae, assumenda
          reiciendis molestias? Consequuntur debitis natus corporis at, cupiditate assumenda fuga nesciunt culpa? Doloribus unde labore, rerum quia eius atque, maiores minus a maxime iure inventore, reprehenderit ratione reiciendis ipsum
          consequuntur eligendi totam rem voluptatibus illo asperiores? Totam nemo modi autem earum esse, eos accusamus? Dolore vero voluptatibus dolores earum sunt reiciendis quod expedita consectetur similique? Est tenetur dolorum vero
          itaque amet? Repudiandae in rem animi cupiditate doloremque, delectus mollitia aliquid eveniet et, earum esse voluptas beatae aspernatur maxime quod quas nulla magni dolor aliquam? Dicta, molestias quos magni debitis minus aliquam
          modi eum cum, exercitationem hic odio itaque saepe ea esse vitae, earum repudiandae consectetur dolor deserunt odit magnam omnis architecto. Quaerat praesentium doloremque sint quod nam? Similique quis iure ex id ea nemo ullam
          aperiam perferendis consectetur placeat rem magni amet, officiis fugiat architecto hic dolore. Impedit doloremque a provident, blanditiis aliquid possimus ratione ipsum odit placeat pariatur atque. Ab, earum temporibus! Eligendi
          tenetur aliquam temporibus fuga id cum tempore quae modi labore ullam nesciunt nihil debitis, iure aliquid omnis blanditiis laboriosam rem repellendus consectetur suscipit? Quasi a iusto consequatur quod praesentium illum enim
          officia ipsum ex nisi voluptatibus exercitationem reiciendis sapiente laborum nesciunt nihil sint laudantium eius voluptatem sunt molestias, in dolores fugit ipsam? Iste eos architecto dicta quos assumenda corrupti sed nisi
          voluptates, vel quasi dignissimos facere, ab odio iusto, veritatis in labore error officiis provident! Rerum nobis non blanditiis ut facere error inventore ipsa ad, porro, minus eveniet possimus ipsum quis, fugit repellendus.
          Perferendis dolorum vero quos ipsam eveniet maiores perspiciatis consequatur harum iure quia ipsa natus, tempora repudiandae nisi dolore, alias rerum? Perferendis eligendi officia error quidem nisi voluptates sunt maiores ducimus
          laborum adipisci nam eos animi ipsum optio nulla nemo qui repellat, necessitatibus sint vero tenetur, unde sequi quisquam? Neque distinctio sed placeat magnam maxime temporibus excepturi nobis est dolores sit, molestiae
          consectetur inventore quia id numquam tempora mollitia animi? Id nesciunt accusamus et consequuntur culpa, nihil molestiae doloribus perferendis fugiat, at excepturi error ipsa minima, officiis quidem nisi. Dignissimos doloribus
          laborum quaerat id, sit mollitia est commodi dolorum amet saepe facilis repellendus veniam voluptates quidem magnam! Dolorem molestias corporis voluptas quis voluptatem tempora alias porro perferendis rerum consectetur, aperiam
          blanditiis in obcaecati vero explicabo minus quasi tempore iure mollitia eos voluptates, maiores magni! Reprehenderit, alias explicabo? Illum reprehenderit ullam dolorem fugit eaque aliquid distinctio similique quo accusantium ea,
          fuga ratione a ipsa velit libero dolorum numquam ducimus, necessitatibus, est in. Unde voluptate molestiae earum ea perferendis sint, veniam aperiam ut soluta, illo assumenda dicta itaque provident ullam quasi doloremque
          praesentium expedita neque quidem veritatis possimus minima enim alias. Nam in quibusdam praesentium minus asperiores unde numquam animi voluptatem, modi expedita nisi obcaecati accusantium odit veniam fugit itaque perferendis
          cumque, illum, ipsam velit eligendi. Iste, autem quisquam a ut expedita natus! Temporibus aspernatur voluptatibus consequatur exercitationem dolore inventore omnis quibusdam eligendi deserunt veritatis nemo eos ducimus quo numquam
          quidem nesciunt doloremque atque quae iure assumenda, molestias nam, aperiam, magnam facere. Eos asperiores aspernatur magnam quos nemo laudantium obcaecati voluptatibus, ducimus voluptas vel ratione sint id voluptatem veritatis
          quo doloremque harum a, excepturi est? Tempore vitae sed nobis suscipit vel harum, totam officia error culpa. Ab ipsam numquam facere eius vitae eos aspernatur ad totam ullam ut? Pariatur delectus dolorum labore illum, molestias
          vero minima vel sequi voluptatem hic ea, aspernatur possimus doloremque dolores accusantium fuga quae repellat? Minima temporibus accusamus magnam voluptates pariatur tempora explicabo! Velit ducimus, itaque dignissimos, incidunt
          iure consectetur voluptates accusamus qui fugit quo vel pariatur id neque autem ab explicabo. Dolorem, magnam omnis repellat consectetur ad corporis aliquid tempore quis dignissimos at temporibus ullam cumque sint tempora ipsam
          odit minima nesciunt, iusto aspernatur commodi. Odit animi tenetur omnis nihil magnam modi molestias cumque delectus accusantium ipsa sequi dolorum, voluptates numquam eaque! Assumenda quasi nesciunt vitae sequi molestiae natus
          temporibus optio deserunt et odit, quidem necessitatibus! Ratione maxime explicabo vero, dolores sapiente earum rerum rem error nobis ex minus quibusdam sequi, iure nesciunt animi placeat sint ab iste praesentium iusto eaque
          fugiat corrupti optio? Perferendis temporibus similique, quos repellendus illo veritatis ex neque, doloribus labore cumque, enim harum minus tempora. Sunt itaque quos voluptate ipsam fugit?
        </div>
      </div>
    </div>

    <!-- Sticky Footer Menu -->
    <div class="fixed bottom-0 left-0 right-0 bg-gray-900 shadow-md p-4 flex justify-between items-center w-full max-w-[400px] mx-auto">
      <a href="index.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-home text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Home</span>
      </a>
      <a href="produk.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-server text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Produk</span>
      </a>
      <a href="team.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-users-group text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Team</span>
      </a>
      <a href="milikku.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-user text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Milikku</span>
      </a>
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>
