<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GO MINER</title>
    <meta
      name="description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="keywords" content="go miner, cloud server, tambang crypto" />
    <link rel="canonical" href="https://demo.masmutdev.com" />
    <meta property="og:title" content="Go Miner" />
    <meta
      property="og:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta property="og:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta property="og:url" content="https://demo.masmutdev.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Go Miner" />
    <meta
      name="twitter:description"
      content="Go Miner adalah platform penyewaan server terbaik untuk pertambangan cryptocurrency. Nikmati layanan cloud mining yang cepat, aman, dan efisien dengan harga kompetitif. Mulai mining Bitcoin dan aset kripto lainnya dengan mudah tanpa perlu membeli perangkat keras sendiri."
    />
    <meta name="twitter:image" content="https://demo.masmutdev.com/go-miner-logo.webp" />
    <meta name="twitter:site" content="@GoMiner" />
    <link rel="icon" href="https://demo.masmutdev.com/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://demo.masmutdev.com/go-miner-logo.webp" type="image/webp" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.19.0/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js"></script>
  </head>

  <body class="bg-gray-200 antialiased bg-gray-800">
    <div class="main-content flex flex-col justify-center items-center w-full max-w-full px-4 mb-24">
      <!-- Navbar -->
      <nav class="bg-gray-900 green-shadow shadow-md mt-4 p-4 flex justify-between items-center rounded-lg w-full max-w-[400px]">
        <!-- Logo -->
        <div class="flex items-center space-x-2 text-center">
          <img src="go-miner-logo.webp" alt="Logo" class="h-8 w-8" />
        </div>

        <p class="text-xl font-semibold text-green-400">GO MINER</p>

        <!-- Menu Icon -->
        <button
          data-drawer-target="default-sidebar"
          data-drawer-toggle="default-sidebar"
          aria-controls="default-sidebar"
          type="button"
          class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-white rounded-lg sm:hidden hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-gray-200 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
      </nav>

      <!-- Aside -->
      <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:hidden sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-900">
          <a href="./" class="flex items-center ps-2.5 mb-5">
            <img src="go-miner-logo.webp" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-green-400">Go Miner</span>
          </a>
          <ul class="space-y-2 font-medium">
            <li>
              <a href="index.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group">
                <i class="ti ti-home"></i>
                <span class="ms-3">Home</span>
              </a>
            </li>
            <li>
              <a href="produk.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group">
                <i class="ti ti-server"></i>
                <span class="ms-3">Produk</span>
              </a>
            </li>
            <li>
              <a href="team.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group">
                <i class="ti ti-users-group"></i>
                <span class="ms-3">Team</span>
              </a>
            </li>
            <li>
              <a href="milikku.html" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group">
                <i class="ti ti-user"></i>
                <span class="ms-3">Milikku</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <!-- Produk -->
      <div class="w-full max-w-[400px] mt-4" style="margin-bottom: 100px">
        <div class="flex flex-row justify-center items-center mb-4">
          <h5 class="text-white text-lg">Withdraw</h5>
        </div>
        <div class="flex p-4 mb-4 mt-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
          <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Petunjuk Withdraw:</span>
            <ul class="mt-1.5 list-disc list-inside mb-4">
              <li>Masukkan Jumlah Withdraw (Minimal Rp.0)</li>
              <li>Pastikan Saldo Anda Cukup Untuk Withdraw</li>
              <li>Saldo Akan Masuk Otomatis Setelah Admin Menyetujui Pembayaran Anda</li>
            </ul>
            <span class="font-medium mt-4">OPEN WITHDRAW (JAM 17:00 WIB- 00:00 WIB)</span>
            <span class="font-medium mt-4">BIAYA PENANGANAN Rp.10.000 </span>
          </div>
        </div>

        <div class="bg-gray-900 green-shadow text-white p-6 rounded-lg shadow-lg max-w-sm mx-auto mt-4">
          <form class="max-w-sm mx-auto">
            <div class="mb-5">
              <label for="jumlah" class="block mb-2 text-sm font-medium text-white">Jumlah</label>
              <input
                type="text"
                id="jumlah"
                class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="Masukkan Jumlah Withdraw"
                required
              />
            </div>
            <button
              type="submit"
              class="text-white bg-green-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-green-500 focus:ring-blue-800"
            >
              WITHDRAW
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Sticky Footer Menu -->
    <div class="fixed bottom-0 left-0 right-0 bg-gray-900 shadow-md p-4 flex justify-between items-center w-full max-w-[400px] mx-auto">
      <a href="index.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-home text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Home</span>
      </a>
      <a href="produk.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-server text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Produk</span>
      </a>
      <a href="team.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-users-group text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Team</span>
      </a>
      <a href="milikku.html" class="flex flex-col items-center text-gray-600 hover:text-gray-900">
        <i class="ti ti-user text-[24px] text-white"></i>
        <span class="text-sm text-white font-bold">Milikku</span>
      </a>
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>
